<h2>Edit "<%= @thing.name %>"</h2>

<form method="POST" action="/things/<%= @thing.id %>" >
  <input type="hidden" name="_method" value="PUT" />

  <label for="thing-name">Name of the thing:</label>
  <input id="thing-name" type="text" name="thing[name]" value="<%= @thing.name %>" required />

  <label for="thing-description">Description of the thing:</label>
  <textarea id="thing-description" name="thing[description]" required><%= @thing.description %></textarea>

  <input type="submit" value="Save Changes" />

</form>
