<h2>Create a User Account</h2>

<form action="/users" method="POST">
  <label for='username_input'>Username</label>
  <input type='text' name='username' id='username_input' required/>

  <label for='password_input'>Password</label>
  <input type='password' name='password' id='password_input' required/>

  <input type='submit' value='Create Account'/>
</form>

<% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li class="error"><%= message %></li>
    <% end %>
  </ul>
<% end  %>