<h2>User Profile: <%= @user.username %></h2>

<h3>Things:</h3>
<ul>
  <% @things.each do |thing| %>
    <li>
      <p><a href="/things/<%= thing.id %>"><%= thing.name %></a></p>
    </li>
  <% end %>
</ul>

<% if logged_in? && @user == current_user %>
  <a href="/things/new">Create a new thing</a>
<% end %>
